.dashboard {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.dashboard .main-content {
  margin: 0px;
  background-color:#efeeeb;
overflow: auto
}

.dashboard .main-content .dashboard-main-panel{
    
}

.dashboard .main-content .dashboard-main-panel .dashboard-main-panel-content {
  margin-left: 20px;
  margin-right: 20px;
}

.dashboard .main-content .dashboard-main-panel div h1 {
  font-size: 16px;
  margin-left: 20px;
}


.dashboard .sidebar {
  background-color: #b5c9cd;
}

.dashboard .overview-content .date-range {
    color: white;
    font-size: 14px;
    text-align: center;
}

.chart {
  position: relative;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.top {
  height: 70%;
}

.bottom {
  height: 30%;
}

.chart path.area {
  opacity: 0.5;
  fill: #8FB7DB;
}

.chart path.line {
  fill: none;
  stroke-width: 2px;
  stroke: #788d9a;
}

.chart rect.bar {
  fill-opacity: 0.5;
  fill: #a7bbc3;
  stroke: #90a5b2;
}

.timeaxis_bg {
    fill:#e6e5e1;
}

.chart .timeaxis_bg text{
    fill: white;
}

.brush .extent {

  fill: #0f0f0f;
  stroke: #788d9a;
  stroke-width: 2px;
  opacity: 0.1
}

.brush .resize rect {
  width: 10px;
  fill: #64737b;
  stroke-width: 2px;
  stroke: #788d9a;
}

.chart.grey.dashed rect {
  fill: #7F8C8D;
  stroke: #7F8C8D;
  stroke-dasharray: 3,3;
}

.chart .green path.area {
  opacity: 0.5;
  fill: #effac4;
}

.chart .cyan path.area {
    fill: #d5e0e6;
}

.chart .green path.line {
  fill: none;
  stroke-width: 3px;
  stroke: #effac4;
}

.chart .brown path.area {
  opacity: 0.5;
  fill: #898173;
}

.chart .brown path.line {
  fill: none;
  stroke-width: 3px;
  stroke: #898173;
}

.online-users {
  height: 80%;
}

.timeline {
  height: 15%;
  background-color: #e2e0d8;
}

.chart.green path.line {
  stroke: #95a860;
}

.range-selection-chart {
  position: absolute;
  background-color: #efeeeb;
  margin: 10px;
  border: 0.5px solid #b5c9cd;
}

.radar-chart {
  background-color: #60767e;
}

.radar-chart .axis text {
  fill: #b5c9cd;
}

.radar-chart .radar path {
  fill: #bfcecf;
}


/*************************/

.chart .yellow path.area {
  opacity: 0.3;
  fill: yellow;
}

.chart .brown path.area {
  opacity: 0.3;
  fill: brown;
}

.chart .green path.area {
  opacity: 0.3;
  fill: green;
}
.chart .blue path.area {
  opacity: 0.3;
  fill: blue;
}
