.dashboard {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.mapbox-mini {
    height: 220px;
    width: 90%;
    bottom: 22x;
    left: 5%;
    top:5px;
    border: 2px solid black;
}

.detail-element-header {
    background: #D1E2E4;

}

.detail-panel-header {
    border-bottom: 1px solid black;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right:5px;
    background: #D1E2E4;
}

.detail-panel-content {
    background: #DDEAEC;
}

.detail-panel {
    left: 5px;
    right: 5px;
    padding-left: 5px;
    padding-right: 5px;
    #background: #AECACE
}

.zoomer {
    background-color:#FFF;
    border-color:#202020;
    -webkit-border-radius:25%;
    border-radius:20%;
    position:absolute;
    font-size:30px;
    width:30px;
    height:30px;
    color:black;
    text-align:center;
    border:1px solid #C0C0C0;
    vertical-align:middle;
}

.zoomer:hover {
    background-color:#C0C0C0;
}

.zoomin {
    left:31px;
}

.zoomout {
    left:0px;
}

.paged-panel {
}

.paged-navigation {
    padding-top: 5px;
    text-align: center;
}

.paged-header {
    text-align: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding-top: 2px;
    background: #0000FF;
    color: white;
}

.temperature-widget {
    width: 50%;
    display : inline-block;
    position: relative;
}

.temperature-label {
    position: absolute;
    top: 18px;
    left: 45px;
    font-weight: bold;
    color: #6F8388;
    font-size: 28px;
}

.pitch-widget {
    width: 50%;
    display : inline-block;
    position: relative;
}

.pitch-label {
    position: absolute;
    top: 18px;
    left: 45px;
    font-weight: bold;
    color: #6F8388;
    font-size: 28px;
}
.battery-chart {
    width: 50%;
    display : inline-block;
    position: relative;
}

.battery-widget {
    width: 50%;
    display : inline-block;
    position: relative;
}

.battery-label {
    position: absolute;
    top: 18px;
    left: 45px;
    font-weight: bold;
    color: #6F8388;
    font-size: 28px;
}

.lights-widget {
    width: 320px;
    height: 90px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

.lights-label {
    font-size: 12px;
    color: #6F8388;
    margin-top: -46px;
    padding-bottom: 11px;
    margin-left: 18px;
}

.overview-header:hover {
    cursor: pointer;
    color:white;
}

.overview-subpanel:hover {
    cursor: pointer;
    color: white;
}

.overview-content {
    background: #D1E2E4;

}

