/*@import url("http://api.tiles.mapbox.com/mapbox.js/v0.6.4/mapbox.css");*/


/* Marker tooltip css */

.marker-popup {
  position:relative;
  left:-50%;
  max-width:400px;
  background:#e9eff0;
  border:2px solid #ccc;
  color:#60777e;  
  font-size: small;
  font-weight: bold;
  padding:10px;
  -webkit-user-select:auto;
     -moz-user-select:auto;
          user-select:auto;
  -webkit-box-shadow: 2px 2px 5px -2px #ccc;
          box-shadow: 2px 2px 5px -2px #ccc;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  }
  .marker-popup:after,
  .marker-popup:before {
    top:100%;
    /*bottom: 100%;*/
    border:solid transparent;
    content:'';
    height:0;
    width:0;
    left:50%;
    position:absolute;
    pointer-events:none;
    }

  .marker-popup:after {
    border-top-color:#e9eff0;
    /*border-bottom-color:#e9eff0;*/
    border-width:15px;
    margin-left:-15px;
    }

  .marker-popup:before {
    border-top-color:#ccc;
    /*border-bottom-color:#ccc;*/
    border-width:18px;
    margin-left:-18px;
    }

/* The rest of the css goes here */

/*.dashboard {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
*/

.dashboard .main-content {
    margin: 0;
}

.mapbox-mini {
    height: 200px;
    /*width: 90%;*/
    bottom: 20px;
    /*left: 5%;*/
    top:1px;
    /*border: 2px solid black;*/
}

.detail-element-header {
    background: #D1E2E4;

}

.detail-panel-header {
    /*border-bottom: 1px solid black;*/
    text-align: left;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right:5px;
    background: #D1E2E4;
}

.detail-panel-content {
    background: #DDEAEC;
}

.detail-panel {
    left: 8px;
    right: 8px;
    padding-left: 8px;
    padding-right: 8px;
}

.panel-detail {
    min-height: 100%; 
    height: auto !important; /*Cause footer to stick to bottom in IE 6*/
    height: 100%; 
    margin: 0 auto -100px; /*Allow for footer height*/
    vertical-align:bottom;
    background-color: #AECACE;
    margin-left: -12px;
}


.zoomer {
    background-color:#FFF;
    border-color:#202020;
    -webkit-border-radius:10%;
    border-radius:10%;
    position:absolute;
    font-size:30px;
    width:30px;
    height:30px;
    color:black;
    text-align:center;
    border:1px solid #C0C0C0;
    vertical-align:middle;
    top: 20px;
}

.zoomer:hover {
    background-color:#C0C0C0;
}

.zoomin {
    left:51px;
}

.zoomout {
    left:20px;
}

.paged-panel {
}

.overview-header .overview-title {
    color: #A5ADB3;
}

.overview-header :hover {
    cursor: pointer;
    color: white;
}

.dashboard .overview-subpanel .overview-subpanel-body {
    max-width: 80%;
}

.dashboard .overview-header .overview-count {
    background-color: #CA3430;
}

.paged-navigation {
    padding-top: 10px;
    text-align: center;
    background: #9EB9BF;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.paged-header {
    text-align: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding-top: 2px;
    background: #0000FF;
    color: white;
}

.temperature-widget {
    width: 50%;
    display : inline-block;
    position: relative;
}

.temperature-label {
    position: absolute;
    top: 18px;
    left: 45px;
    font-weight: bold;
    color: #6F8388;
    font-size: 28px;
}

.pitch-widget {
    width: 50%;
    display : inline-block;
    position: relative;
}

.pitch-label {
    position: absolute;
    top: 18px;
    left: 45px;
    font-weight: bold;
    color: #6F8388;
    font-size: 28px;
    margin-left: 20px;
}

.battery-widget {
/*    width: 50%;*/
    display : inline-block;
    position: relative;
}

.battery-graph {
/*    position: relative;*/
    float:left;
    max-width: 20%;
}

.battery-chart {
/*    position: relative;*/
    float:left;
    max-width: 50%;
}

.battery-label {
/*    position: relative;*/
    float:left;
    max-width: 25%;
    margin-top: 5%;
    font-weight: bold;
    color: #6F8388;
    font-size: 28px;
}

.battery-legend {
/*    position: relative;*/
    float:left;
    min-width: 30%;
    max-width: 50%;
    font-size: 12px;
    position: relative;
    margin-left: 20%;
    margin-top: -12%;
    color: #ADC0C4;
}

/*
.battey-level {
    position: relative;
}

.battery-chart {
    width: 50%;
    display : inline-block;
    position: relative;
}

.battery-widget {
    width: 50%;
    display : inline-block;
    position: relative;
}

.battery-label {
    position: absolute;
    top: 18px;
    left: 45px;
    font-weight: bold;
    color: #6F8388;
    font-size: 28px;
}
*/

.lights-widget {
    width: 320px;
    height: 90px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 1px;
}

.lights-label {
    font-size: 12px;
    color: #6F8388;
    margin-top: -46px;
    padding-bottom: 11px;
    margin-left: 18px;
}


.detail-element-header {
    background: #aecace;
}

.detail-panel-header {
    font-size: 14px;
    font-weight: normal;
    color: #5D747C;
    border-top: 1px solid #C6DADC;
}

.overview-subpanel {
    padding-left: 8px;
    padding-right: 8px;
}

.overview-subpanel .text:hover {
    cursor: pointer;
    color: white;
}

.overview-content {
    background: #E9EFF0;

}

.overview-count {
    background-color: #DF0101;
}

.page-left {
  border-width: 5px 8px 5px 8px;
  border-style: solid;
  background: 0px;
  height: 0px;
  display: inline-block;
  margin-right: 7px;
  border-color: transparent #5A6568 transparent transparent;
  cursor: pointer;
}

.page-right {
  border-width: 5px 8px 5px 8px;
  border-style: solid;
  background: 0px;
  height: 0px;
  display: inline-block;
  margin-left: 4px;
  border-color: transparent transparent transparent #5A6568;
  cursor: pointer;
}


.marker-red {
    width: 32px !important;
    height: 45px;
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 15px;
    background-image:url('http://a.tiles.mapbox.com/v3/marker/pin-m-circle+DF0101.png');
}

.warning-item:hover{
    background-color: #D5E0E2;
    
}


.overview-subpanel-body .text {
    position: relative;
    top: -20px;
}

.overview-subpanel-body .caption {
    position: relative;
    top: -20px;
}


/* Offscreen indicators */

.offscreen-indicator {
  position: absolute;
  width: 71px;
  height: 60px;
  display: none;
  background-repeat: no-repeat;
  padding-top: 28px;
  padding-left: 0px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #908F8F;
  opacity: 0.3;
  filter:alpha(opacity=30);
  text-indent: -9999px;
  cursor: pointer;
}

.offscreen-indicator:hover {
  opacity: 1;
  filter:alpha(opacity=100);
  text-indent: 0px;
} 

.nwmarkers {
  top: 37px;
  left: 37px;
  background-image: url('res/images/NW.png');
} 
.nmarkers {
  top: 8px;
  left: 50%;
  margin-left: -30px;
  background-image: url('res/images/N.png');
} 
.nemarkers {
  top: 37px;
  right: 37px;
  background-image: url('res/images/NE.png');
} 
.emarkers {
  top: 50%;
  right: 8px;
  margin-top: -30px;
  background-image: url('res/images/E.png');
}
.semarkers {
  bottom: 25px;
  right: 37px;
  background-image: url('res/images/SE.png');
}

.smarkers {
  bottom: 0px;
  left: 50%;
  margin-left: -30px;
  background-image: url('res/images/S.png');
}
.swmarkers {
  bottom: 25px;
  left: 37px;
  background-image: url('res/images/SW.png');
}
.wmarkers {
  left: 8px;
  top: 50%;
  margin-top: -30px;
  background-image: url('res/images/W.png');
}