
@card-width: 160px;
@card-height: 195px;
@card-flip-factor: 1.25;
@card-preview-factor: 0.5;
@card-header-height: 40px;

.card {

  font-family: Helvetica, Arial, sans-serif;

  .front, .back {
    background-color: white;
    width: @card-width;
    height: @card-height;
    box-shadow: 0px 2px 3px #AAA;
  }

  .front {

    position: absolute; 

    .header {
      background-color: #64737b;
      margin: 7px 7px 0px 7px;
      height: @card-header-height;
      color: white;      

      h1 {
        text-align: center;
        padding-top: 13px;
      }
    }
    .body {
      background-color: #dde6e9;
      margin: 7px;
      position: absolute;
      top: @card-header-height;
      left: 0px;
      right: 0px;
      bottom: 0px;
    }
  }

  &.flippable {
    .front, .back {
      -webkit-transition: -webkit-transform 0.5s, width 0.5s, height 0.5s;
    }
  }

  &.flip {

    .front, .back {
      width: round(@card-width*@card-flip-factor);
      height: round(@card-height*@card-flip-factor);
    }
  }

  &.preview {
    -webkit-transform: scale(@card-preview-factor);
  }
}

.start-card {
  height: 84px;
  width: 84px;
  background-color: #77868E;
  border: 8px solid white;
  border-radius: 85px;
  box-shadow: 0 0 8px #979797;
  margin-left: -42px;
  margin-top: -42px;
}

.card-placeholder {
  border: 3px dashed #AAA;
  width: 160px;
  height: 120px;
  margin-left: -80px;
  margin-top: -60px;
  border-radius: 13px;
}

.action-card {

}

.card-toolbox {
  
  width: 240px;

  .card {
    float: left;
    width: @card-width;
    height: @card-height;
  }
}

.graph-editor {
  background-image: url("@{image-path}/ruleback.png");
}

.rule-editor-main {
  bottom: 60px;
}

.rule-bottom-toolbar {
    height: 60px;
}

.node-container {
  .start-card, .card-placeholder, .card {
    position: absolute;
  }

  .card {
    margin-left: 0-round(@card-width/2);
    margin-top: 0-round(@card-height/2);
  }
}

.card.ui-draggable-dragging {
    margin-left: 0-round(@card-width/2);
    margin-top: 0-round(@card-height/2);
}

// WIDGETS inside cards

.card .body .battery-widget {
    width: 40%;
    left: 50%;
    margin-left: -20%;
    position: relative;    
    height: 70%;
}
