
.dashboard {

  font-family: Helvetica, Arial, sans-serif;
  background-color: #E7E7E7;

  .main-content {
    margin: 30px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 320px;

    .dashboard-main-panel {
      
      position: relative;

      h1 {
        color: #708796;
        font-size: 20px;
      }

      .dashboard-main-panel-content {
        position: absolute;
        top: 30px;
        left: 0px;
        right: 0px;
        bottom: 0px;
      }
    }
  }

  .sidebar {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: 320px;
    background-color: #e9eff0;
    border-left: 1px solid #d2d2d2;
  }

  .overview-header {
    height: 30px;
    width: 100%;
    background-color: #64737b;
    color: white;
    font-weight: bold;      

    .overview-count {      
      text-align: center;
      padding-top: 6px;
      display: inline-block;
      background-color: #4a95de;
      min-width: 35px;
      height: 24px;
    }    

    .overview-title { 
      padding-left: 10px;
    }
  }

}

.range-selection-chart {

  border: 1px solid #b3b8be;
  
  .range-selection-area { 
    
  }

  .range-selection-handler {
    border: 2px solid #788d9a;
    background-color: #d6dce2;
    display: inline-block;
    width: 10px;
    height: 100%;
    border-radius: 4px;
  }
}

.fit {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;  
}
