.m2m-widgetBattery{
    overflow: hidden;
    & > div {
        display:inline-block;
        height: 100px;
        vertical-align: top;
        overflow: hidden;
    }
    .battery-label {
        font-weight: bold;
        color: #6F8388;
        font-size: 22px;
        padding-top: 15px;
        height: 55px;
    }

    .battery-legend {
        font-size: 12px;
        color: #ADC0C4;
    }
}