.battery-widget {

    .battery-cap {
        background-color: white;
        width: 34%;
        height: 5px;
        border: 2px solid #D5DEE1;
        position: relative;
        left: 50%;
        margin-left: -17%;
        margin-top: 8%;
        margin-bottom: -2px;
        z-index: 1;
        border-bottom: 0px;
        .border-radius(6px, 0px, 0px, 6px);
    }

    .battery-body {
        width: 100%;
        height: 100%;
        background-color: white;
        position: relative;
        margin-top: 0%;
        .border-radius(10px, 10px, 10px, 10px);
        border: 2px solid #D5DEE1;
    }

    .scale-widget {
        margin: 3%;
        width: 94%;
        height: 94%;
        overflow: hidden;
    }
}

.angle-widget {
    width: 100%;
    height: 100%;
    overflow: hidden;
}




.temperature-widget {
    width: 50%;
    display : inline-block;
    position: relative;
}

.temperature-widget .temperature-label {
    position: absolute;
    top: 18px;
    left: 45px;
    font-weight: bold;
    color: #6F8388;
    font-size: 28px;
}

/* Gauge widget */
.gauge-widget {
    display: inline-block;
    vertical-align: middle;
}

.gauge-label {
    font-weight: bold;
    font-size: 22px;
    color: #6F8388;
}