.dashboard {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px; 
}

.chart {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.chart path.area {
  opacity: 0.5;
  fill: #8FB7DB;
}

.chart path.line {
  fill: none;
  stroke-width: 4px;
  stroke: #788d9a;
}

.chart rect.bar {
  fill-opacity: 0.5;
  fill: #8FB7DB;
  stroke: #90a5b2;
}

.chart.grey.dashed rect {
  fill: #7F8C8D;
  stroke: #7F8C8D;
  stroke-dasharray: 3,3;
}

.chart .green path.area {
  opacity: 0.5;
  fill: #effac4;
}

.chart .green path.line {
  fill: none;
  stroke-width: 5px;
  stroke: #effac4;
}

.online-users {
  height: 55%;
}

.registrations {
  height: 25%;
}

.timeline {
  height: 15%;
}

