.dashboard {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px; 
}

.chart {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.chart path {
  opacity: 0.5;
  fill: #8FB7DB;
}

.online-users {
  height: 55%;
}

.registrations {
  height: 25%;
}

.timeline {
  height: 15%;
}

