
/* ========================================================================== */
/* Dashboard related css */
/* ========================================================================== */
.dashboard {
    overflow: hidden;
}

.dashboard .main-content {
    margin: 0 !important;
}

.dashboard .overview-subpanel .overview-subpanel-body {
    max-width: 80%;
}

.dashboard .overview-header .overview-count {
    background-color: #CA3430;
}

.dashboard .sidebar {
    background-color: #aecace !important;
}

/* ========================================================================== */
/* Chart */
/* ========================================================================== */
.chart {
    position: relative !important;
    min-height: 150px !important;
}

/* ========================================================================== */
/* Other */
/* ========================================================================== */
.overview-subpanel {
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
}

.overview-subpanel .text:hover {
    cursor: pointer;
    color: white;
}

.overview-content {
    background: #E9EFF0;
}

.overview-count {
    background-color: #DF0101;
}

/* Element showing selected asset info and last update */
.detail-element-header {
    background: #aecace;
}

.detail-element-header .caption {
    color: white !important;
}

.marker-red {
    width: 34px !important;
    height: 35px !important;
    margin-left: 3px;
    margin-right: 12px;
    margin-top: 12px;
    /* To use mapbox marker */
    /*background-image:url('http://a.tiles.mapbox.com/v3/marker/pin-m-circle+DF0101.png');*/
    background-image:url('res/images/rojo-on-1.png');
}

.marker-blue {
    width: 34px !important;
    height: 35px !important;
    margin-left: 3px;
    margin-right: 12px;
    margin-top: 12px;
    /* To use mapbox marker */
    /*background-image:url('http://a.tiles.mapbox.com/v3/marker/pin-m-circle+5E91A0.png');*/
    background-image:url('res/images/azul-on-1.png');
}

.warning-item:hover{
    background-color: #D5E0E2;
}

.overview-subpanel-body .text {
    position: relative;
    /*top: -10px;*/
    padding-top: 10px;
}

.overview-subpanel-body .caption {
    position: relative;
    /*top: -10px;*/
    padding-top: 10px;
}

.minimap {
    height: 200px;
    bottom: 20px;
    top:1px;
}

.detail-errors {
    min-height: 60px;
    border-style: solid;
    border-width: 1px;
    margin-left: 8px;
    margin-right: 8px;
    border-color: #A5B8BD;
    -webkit-border-radius:5%;
    border-radius:5%;
    background-color: #BCCED2;
    margin-top: 3px;
    margin-bottom: 8px;
    color: #6F8388;
    padding-left: 10px;
    padding-top: 15px;
    font-size: small;
}

/* Details overview header */
.overview-header .overview-title {
    color: #A5ADB3;
}

.overview-header :hover {
    cursor: pointer;
    color: white;
}

