/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
a {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}
/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
.fit {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
.bold {
  font-weight: bold;
}
.dashboard {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #E7E7E7;
}
.dashboard .main-content {
  margin: 25px;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 320px;
}
.dashboard .main-content .dashboard-main-panel {
  position: relative;
  margin-bottom: 14px;
}
.dashboard .main-content .dashboard-main-panel header h1 {
  color: #708796;
  font-size: 20px;
  display: inline-block;
  margin-bottom: 6px;
  margin-top: 0px;
}
.dashboard .main-content .dashboard-main-panel .dashboard-main-panel-content {
  position: absolute;
  top: 33px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
.dashboard .sidebar {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  width: 320px;
  background-color: #e9eff0;
  border-left: 1px solid #d2d2d2;
}
.dashboard .overview-content {
  position: absolute;
  top: 30px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
.dashboard .overview-content .last-section-panel {
  border-bottom: 1px solid #9ea3a5;
}
.dashboard .overview-content .date-range {
  color: #b2c0cb;
  font-size: 14px;
  text-align: center;
  height: 21px;
  padding-top: 7px;
}
.dashboard .vertical-panel-group {
  height: 111px;
}
.dashboard .vertical-panel-group .vertical-panel {
  width: 33%;
  border-right: 1px solid #9ea3a5;
  display: inline-block;
  vertical-align: top;
  height: 110px;
  text-align: center;
}
.dashboard .vertical-panel-group .vertical-panel .overview-subpanel-body .text {
  font-size: 26px;
}
.dashboard .vertical-panel-group .last-vertical-panel {
  border-right: none;
}
.dashboard .overview-subpanel {
  border-bottom: 1px solid #D6DEE0;
  min-height: 55px;
}
.dashboard .overview-subpanel .icon {
  width: 50px;
  height: 43px;
  display: inline-block;
}
.dashboard .overview-subpanel .icon.dot {
  width: 18px;
  height: 18px;
  border-style: solid;
  border-width: 4px;
  border-radius: 13px;
  margin-left: 12px;
  margin-right: 12px;
  margin-top: 15px;
}
.dashboard .overview-subpanel .icon.dot.purple {
  border-color: #8e44ad;
}
.dashboard .overview-subpanel .icon.dot.blue {
  border-color: #2980b9;
}
.dashboard .overview-subpanel .icon.dot.green {
  border-color: #27ae60;
}
.dashboard .overview-subpanel .icon.dot.red {
  border-color: #c0392b;
}
.dashboard .overview-subpanel .icon.dot.orange {
  border-color: #f39c12;
}
.dashboard .overview-subpanel .icon.dot.cyan {
  border-color: #afc6d8;
}
.dashboard .overview-subpanel .icon.dot.purple {
  background-color: rgba(142, 68, 173, 0.5);
}
.dashboard .overview-subpanel .icon.dot.blue {
  background-color: rgba(41, 128, 185, 0.5);
}
.dashboard .overview-subpanel .icon.dot.green {
  background-color: rgba(39, 174, 96, 0.5);
}
.dashboard .overview-subpanel .icon.dot.red {
  background-color: rgba(192, 57, 43, 0.5);
}
.dashboard .overview-subpanel .icon.dot.orange {
  background-color: rgba(243, 156, 18, 0.5);
}
.dashboard .overview-subpanel .icon.dot.cyan {
  background-color: rgba(175, 198, 216, 0.5);
}
.dashboard .overview-subpanel .icon.arrow-down {
  background: url("../../img/nitro-components/arrow-down.png") no-repeat center center;
}
.dashboard .overview-subpanel .icon.arrow-up {
  background: url("../../img/nitro-components/arrow-up.png") no-repeat center center;
}
.dashboard .overview-subpanel .overview-subpanel-body {
  display: inline-block;
}
.dashboard .overview-subpanel .overview-subpanel-body .text {
  display: block;
  font-size: 16px;
  font-weight: bold;
  color: #61777F;
}
.dashboard .overview-subpanel .overview-subpanel-body .caption {
  margin: 0px;
  color: #999;
  font-size: 13px;
  font-weight: normal;
}
.dashboard .overview-header {
  height: 30px;
  width: 100%;
  background-color: #64737b;
  color: white;
  font-weight: bold;
}
.dashboard .overview-header .overview-count {
  text-align: center;
  padding-top: 6px;
  display: inline-block;
  background-color: #4a95de;
  min-width: 27px;
  height: 24px;
  padding-left: 4px;
  padding-right: 4px;
}
.dashboard .overview-header .overview-title {
  padding-left: 10px;
}
.chart.purple path.area {
  fill: #8e44ad;
}
.chart.blue path.area {
  fill: #2980b9;
}
.chart.green path.area {
  fill: #27ae60;
}
.chart.red path.area {
  fill: #c0392b;
}
.chart.orange path.area {
  fill: #f39c12;
}
.chart.cyan path.area {
  fill: #afc6d8;
}
.chart.purple path.line {
  stroke: #8e44ad;
}
.chart.blue path.line {
  stroke: #2980b9;
}
.chart.green path.line {
  stroke: #27ae60;
}
.chart.red path.line {
  stroke: #c0392b;
}
.chart.orange path.line {
  stroke: #f39c12;
}
.chart.cyan path.line {
  stroke: #afc6d8;
}
.chart.purple circle.hoverCircle {
  stroke: #8e44ad;
}
.chart.blue circle.hoverCircle {
  stroke: #2980b9;
}
.chart.green circle.hoverCircle {
  stroke: #27ae60;
}
.chart.red circle.hoverCircle {
  stroke: #c0392b;
}
.chart.orange circle.hoverCircle {
  stroke: #f39c12;
}
.chart.cyan circle.hoverCircle {
  stroke: #afc6d8;
}
.chart .hoverCircle {
  stroke-width: 3px;
  fill: white;
  cursor: pointer;
}
.chart .baseline {
  stroke-width: 2px;
  stroke: #7f8c8d;
}
.chart .border {
  fill: none;
  stroke: #B3B8BE;
  stroke-width: 1px;
}
.range-selection-chart svg {
  position: absolute;
}
.range-selection-chart .selected-range {
  border-top: 2px solid #788d9a;
  border-bottom: 2px solid #788d9a;
}
.range-selection-chart .selected-range {
  overflow: hidden;
}
.range-selection-chart path.line {
  fill: none;
  stroke-width: 1px;
  stroke: #b7bbbd;
}
.range-selection-chart .whole-chart path.area {
  fill: #CCCFD2;
  opacity: 1;
}
.range-selection-chart .selected-chart path.area {
  fill: #EFD775;
  opacity: 1;
}
.range-selection-chart .range-selection-handler {
  border: 2px solid #788d9a;
  background-color: #d6dce2;
  display: inline-block;
  width: 10px;
  height: 100%;
  border-radius: 4px;
  cursor: pointer;
  margin-left: -14px;
}
.brush .extent {
  fill: transparent;
  stroke: #788d9a;
  stroke-width: 2px;
}
.brush .resize rect {
  width: 10px;
  fill: #d6dce2;
  stroke-width: 2px;
  stroke: #788d9a;
}
.chart .x.axis .domain {
  display: none;
}
.chart .x.axis text {
  fill: #3B3B3D;
  font-weight: bold;
  font-size: 13px;
}
.chart .y.axis .domain {
  display: none;
}
.chart .y.axis text {
  fill: #7F8C8D;
  font-size: 12px;
}
.radar-chart .axis line {
  stroke: #ced7dc;
  stroke-width: 3px;
}
.radar-chart .axis circle {
  fill: #ced7dc;
}
.radar-chart .axis text {
  text-anchor: middle;
  font-size: 12px;
  fill: #7c91a5;
}
.radar-chart .radar.base path {
  fill: #ced7dc;
  fill-opacity: 0.4;
  stroke-width: 2px;
  stroke-dasharray: 5,3;
  stroke: #ced7dc;
}
.radar-chart .radar.base circle {
  fill: #ced7dc;
}
.radar-chart .radar path {
  fill: #3498db;
  stroke-width: 3px;
  fill-opacity: 0.4;
  stroke: #64737b;
}
.radar-chart .radar circle {
  fill: #64737b;
}
.card .front,
.card .back {
  background-color: white;
  width: 145px;
  height: 180px;
  box-shadow: 0px 2px 3px #AAA;
}
.card .front .header {
  background-color: #64737b;
  margin: 7px 7px 0px 7px;
  height: 25px;
  color: white;
}
.card .front .body {
  background-color: #dde6e9;
}
.card.flippable .front,
.card.flippable .back {
  -webkit-transition: -webkit-transform 0.5s, width 0.5s, height 0.5s;
}
.card.flip .front,
.card.flip .back {
  width: 181px;
  height: 225px;
}
.flippable {
  position: relative;
}
.flippable .front,
.flippable .back {
  -webkit-transition: -webkit-transform 0.5s;
  -webkit-transform-style: preserve-3d;
  -webkit-transform-origin: 50% 50%;
  -webkit-backface-visibility: hidden;
  position: absolute;
  top: 0px;
  left: 0px;
}
.flippable .front {
  z-index: 900;
  -webkit-transform: perspective(300px) rotateY(0deg);
}
.flippable .back {
  -webkit-transform: perspective(300px) rotateY(180deg);
  z-index: 800;
}
.flippable.flip .front {
  -webkit-transform: perspective(300px) rotateY(-180deg);
}
.flippable.flip .back {
  z-index: 1000;
  -webkit-transform: perspective(300px) rotateY(0deg);
}
.button.green {
  background-color: green;
}
.application-menu {
  background-color: #2C3337;
  font-family: Helvetica, Arial, sans-serif;
}
.application-menu ul {
  width: 300px;
}
.application-menu li {
  height: 46px;
  margin: 8px 0px;
  background-color: #30373B;
  color: #A0A4A5;
}
.application-menu li span {
  font-size: 14px;
  display: block;
  padding: 15px 10px 15px 50px;
}
.application-menu a {
  display: block;
  margin-left: 8px;
  background-image: url("../../img/nitro-components/menu_icons.png");
  background-repeat: no-repeat;
  background-position: 0px -160px;
}
.application-menu a:link,
.application-menu a:visited {
  text-decoration: none;
  color: #A0A4A5;
}
.application-content {
  background-color: white;
  left: 55px;
  -webkit-box-shadow: -6px 0 6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: -6px 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: -6px 0 6px rgba(0, 0, 0, 0.3);
}
.tooltip {
  display: none;
  font-family: Helvetica, Arial;
  background-color: #34485F;
  position: absolute;
  margin-top: -35px;
  color: white;
  margin-left: -25px;
  width: 50px;
  padding: 6px;
  text-align: center;
  font-weight: bold;
  font-size: 13px;
  height: 20px;
  border-radius: 3px;
}
.context-menu {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  position: absolute;
  background-color: #faf8f5;
  border-radius: 6px;
  display: none;
  margin-left: 20px;
  margin-top: -18px;
  box-shadow: 0px 0px 15px #777;
  width: 220px;
  color: #788d9a;
}
.context-menu.right-anchor {
  margin-left: -200px;
  margin-top: 30px;
}
.context-menu ul {
  margin: 0px;
  list-style: none;
  padding: 6px;
  display: inline-block;
  vertical-align: top;
  width: 208px;
}
.context-menu li {
  cursor: pointer;
  padding: 3px 6px;
  border-radius: 4px;
}
.context-menu li:hover {
  background-color: #6EB4DB;
  color: white;
}
.context-menu li.context-menu-title {
  color: #9CABB4;
  text-align: center;
}
.context-menu li.context-menu-title.back-link {
  background: url("../../img/nitro-components/context-menu-back.png") no-repeat left center;
}
.context-menu li.context-menu-title:hover {
  background-color: transparent;
}
.context-menu li.dot-toggle {
  padding-left: 26px;
  position: relative;
  color: #ccc;
}
.context-menu li.dot-toggle:hover {
  color: white;
}
.context-menu li.dot-toggle:before {
  content: '';
  width: 8px;
  height: 8px;
  border-width: 3px;
  border-style: solid;
  border-radius: 8px;
  position: absolute;
  left: 6px;
  top: 4px;
  border-color: #CCC;
  background-color: rgba(200, 200, 200, 0.5);
  opacity: 0.3;
}
.context-menu li.dot-toggle.selected {
  color: #788d9a;
}
.context-menu li.dot-toggle.selected:hover {
  color: white;
}
.context-menu li.dot-toggle.selected:before {
  opacity: 1;
}
.context-menu li.dot-toggle.selected.purple:before {
  border-color: #8e44ad;
}
.context-menu li.dot-toggle.selected.blue:before {
  border-color: #2980b9;
}
.context-menu li.dot-toggle.selected.green:before {
  border-color: #27ae60;
}
.context-menu li.dot-toggle.selected.red:before {
  border-color: #c0392b;
}
.context-menu li.dot-toggle.selected.orange:before {
  border-color: #f39c12;
}
.context-menu li.dot-toggle.selected.cyan:before {
  border-color: #afc6d8;
}
.context-menu li.dot-toggle.selected.purple:before {
  background-color: rgba(142, 68, 173, 0.5);
}
.context-menu li.dot-toggle.selected.blue:before {
  background-color: rgba(41, 128, 185, 0.5);
}
.context-menu li.dot-toggle.selected.green:before {
  background-color: rgba(39, 174, 96, 0.5);
}
.context-menu li.dot-toggle.selected.red:before {
  background-color: rgba(192, 57, 43, 0.5);
}
.context-menu li.dot-toggle.selected.orange:before {
  background-color: rgba(243, 156, 18, 0.5);
}
.context-menu li.dot-toggle.selected.cyan:before {
  background-color: rgba(175, 198, 216, 0.5);
}
.context-menu .separator {
  padding: 0px;
  margin: 6px 6px;
  height: 1px;
  background: #788D9A;
  background: -moz-linear-gradient(left, #faf8f5 0%, #788d9a 20%, #788d9a 80%, #faf8f5 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #faf8f5), color-stop(20%, #788d9a), color-stop(80%, #788d9a), color-stop(100%, #faf8f5));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(left, #faf8f5 0%, #788d9a 20%, #788d9a 80%, #faf8f5 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(left, #faf8f5 0%, #788d9a 20%, #788d9a 80%, #faf8f5 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(left, #faf8f5 0%, #788d9a 20%, #788d9a 80%, #faf8f5 100%);
  /* IE10+ */

  background: linear-gradient(to right, #faf8f5 0%, #788d9a 20%, #788d9a 80%, #faf8f5 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#faf8f5', endColorstr='#faf8f5', GradientType=1);
  /* IE6-9 */

}
.context-menu .submenu {
  background: url("../../img/nitro-components/submenu-indicator.png") no-repeat right center;
}
.context-menu .submenu:hover {
  background: #6eb4db url("../../img/nitro-components/submenu-indicator-hover.png") no-repeat right center;
}
.context-menu-wrapper {
  overflow: hidden;
}
.tooltip-arrow {
  width: 20px;
  height: 40px;
  position: absolute;
  overflow: hidden;
  left: -21px;
  margin-left: 1px;
}
.tooltip-arrow:before {
  background-color: #FAF8F5;
  width: 20px;
  height: 20px;
  position: absolute;
  content: '';
  left: 10px;
  top: 16px;
  box-shadow: 0px 0px 15px #777;
  -webkit-transform: scaleY(0.65) rotate(45deg);
}
.right-anchor .tooltip-arrow {
  left: 173px;
  top: -26px;
  width: 40px;
  height: 26px;
}
.right-anchor .tooltip-arrow:before {
  -webkit-transform: scaleX(0.65) scaleY(1) rotate(45deg);
}
.context-menu-indicator {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 6px 0px 0px 6px;
  cursor: pointer;
  background-image: url("../../img/nitro-components/context-menu-indicator.png");
}
.context-menu-indicator:hover {
  background-image: url("../../img/nitro-components/context-menu-indicator-hover.png");
}
.box-message-bg {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  zoom: 1;
  background: #000;
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  -webkit-opacity: 0.5;
  opacity: 0.5;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
  filter: alpha(opacity=50);
}
.box-message-msg {
  z-index: 20001;
  position: absolute;
  top: 50%;
  left: 50%;
  background: #fff;
  width: 300px;
  margin-left: -150px;
  margin-top: -100px;
  padding-top: 5px;
  overflow: hidden;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.box-message-msg p {
  padding: 5px 15px;
}
.box-message-msg div {
  padding: 5px;
  background-color: #eeeeee;
  border-top: 1px solid #ccc;
  text-align: center;
}
.box-message-msg button {
  border: 1px solid #ccc;
  border-bottom: 1px solid #bbb;
  border-radius: 3px;
  color: #333;
  font: bold 11px/1 "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  padding: 8px 0;
  text-align: center;
  text-shadow: 0 1px 0 #eee;
  width: 150px;
  cursor: pointer;
  background: #eeeeee;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eeeeee), color-stop(1, #cccccc));
  background: -ms-linear-gradient(bottom, #eeeeee, #cccccc);
  background: -moz-linear-gradient(center bottom, #eeeeee 0%, #cccccc 100%);
  background: -o-linear-gradient(#cccccc, #eeeeee);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#eeeeee', GradientType=0);
}
.box-message-msg button:hover {
  border: 1px solid #bbb;
  border-bottom: 1px solid #999;
  text-shadow: 0 1px 0 #ddd;
  background: #dddddd;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #dddddd), color-stop(1, #bbbbbb));
  background: -ms-linear-gradient(bottom, #dddddd, #bbbbbb);
  background: -moz-linear-gradient(center bottom, #dddddd 0%, #bbbbbb 100%);
  background: -o-linear-gradient(#bbbbbb, #dddddd);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bbbbbb', endColorstr='#dddddd', GradientType=0);
}
.box-message-msg button:active {
  border: 1px solid #aaa;
  border-bottom: 1px solid #888;
  -webkit-box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
  box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
}
.box-message-title {
  font-weight: 800;
}
