<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" type="text/css" href="../../style/css/nitro-components.css" />
</head>
<body>
  <a href="#" id="open-messagebox">open Message Box</a><br/>
  <input type="text" name="title" placeholder="Enter title.."/><br/>
  <input type="text" name="message" placeholder="Enter message.."/><br/>
  <hr />
  <div ng-controller="main">
    <button ng-click="test()">test confirm </button>
    <button ng-click="test_2()">test normal</button>
  </div>

  <script src="../../libs/jquery/jquery.js"></script>
  <script src="../../libs/angular/angular.js"></script>
  <script data-main="main" src="../../libs/requirejs/require.js"></script>
</body>
</html>
