.dashboard .main-content {
  margin: 0px;
  background-color:#f2f1ef;
}
.dashboard .main-content .dashboard-main-panel .dashboard-main-panel-content {
  margin-left: 50px;
  margin-right: 40px;
}

.dashboard .main-content .dashboard-main-panel div h1 {
  font-size: 16px;
  margin-left: 40px;
}

.title {
    padding: 10px 10px;
}

.dashboard .sidebar {
  background-color: #b5c9cd;
}

.dashboard .overview-content .date-range {
    color: white;
    font-size: 14px;
    text-align: center;
}

.dashboard .overview-content .date-range {
    color: white;
    font-size: 14px;
    text-align: center;
    background-color: #64737b;
    color: #b5c9cd;
}

.top-chart {
    height: 50%;
}
.bottom-chart {
    height: 30%;
}
.brush .extent {
  fill: #e1dab0;
  stroke: #788d9a;
  stroke-width: 2px;
  opacity: 0.5;
}

.brush .resize rect {
  width: 10px;
  fill: #64737b;
  stroke-width: 2px;
  stroke: #788d9a;
}

.range-selection-chart {
  max-height: 50px;
  position: absolute;
  background-color: #f2f1ef;
  margin: 0px;
  border: 1px solid #b5c9cd;
}

.chart rect.bar {
  fill-opacity: 0.6;
  fill: #efeeeb;
  stroke: #acbec5;
  stroke-width: 1px;
}

rect.bg_grid_green.even{
    fill: #c3d2d4;
}
rect.bg_grid_green.odd{
    fill: #bfcfd1;
}

.chart.yellow path.area{  
  opacity: 0.8;
  fill: #e9e9d4;
}
.chart.yellow path.line{  
  fill: none;
  stroke-width: 5px;
  stroke: #b5a86a;
}
.range-selection-chart path.line{
  fill: none;
  stroke-width: 1px;
  stroke: #cdd6d5;
}

.range-selection-chart path.area{
  fill: #cdd6d5;
}

.green {
  background: url(./img/data_bundle_sold.png);
}
.yellow {
  background: url(./img/time_bundle_sold.png);
}

.brown {
  background: url(./img/total_bundle_sold_icon.png);
}

.dashboard .overview-subpanel .overview-subpanel-body .caption {
  color: #64737b;
}

.tooltip-2 {
   opacity: 0.8;
}
.tooltip-2:after {
  border-width: 0px;
}
